@model ControleCaixaWeb.Models.DespejoOPeracaoCaixa

@{
    ViewBag.Title = "AdicionarDespejoOperacaoCaixa";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<h2>Fazer Despejo Operação Caixa</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Despejo OPeração Caixa</legend>
		<div class="editor-label">
			@Html.LabelFor(model => model.DataLancamento,"Data Lançamento:")
		</div>
		<div class="editor-field">
			@Html.Telerik().DatePickerFor(model => model.DataLancamento).Name("DataLancamento")
			@Html.ValidationMessageFor(model => model.DataLancamento)
		</div>
				
		<div class="editor-label">
			@Html.LabelFor(model => model.FormaPagamentoUtilizada,"Plano Pagamento:")
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.FormaPagamentoUtilizada.Codigo,(IEnumerable<SelectListItem>)ViewBag.FormaPagamentoUtilizada, "Selecione Plano Pagamento")@Html.ActionLink("Adicionar Plano Pagamento","CadastrarFormaPagamento","FormaPagamento")
			@Html.ValidationMessageFor(model => model.FormaPagamentoUtilizada)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Valor,"Valor:")
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Valor, new { @class = "input-xlarge" })
			@Html.ValidationMessageFor(model => model.Valor)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Descricao,"Descrição da Operação:")
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Descricao, new { @class = "input-xlarge" })
			@Html.ValidationMessageFor(model => model.Descricao)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Observacao,"Observação:")
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.Observacao, new { @class = "input-xlarge" })
			@Html.ValidationMessageFor(model => model.Observacao)
		</div>
		<p>
			<input class="btn btn-success" type="submit" value="Cadastar" />
			<input class="btn btn-warning" type="reset" value="Limpar" />
		</p>
	</fieldset>
}
<div>
	@Html.ActionLink("Página Inicial","Index","Home")
</div>
