@model ControleCaixaWeb.Models.FechamentoCaixa

@{
    ViewBag.Title = "AlterarFechamentoCaixa";
    Layout = "~/Areas/OperadorCaixa/Views/Shared/_Layout.cshtml";
}

<h2>Alterar Fechamento Caixa</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Alterar Fechamento Caixa</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>
               
               
        <div class="editor-label">
            @Html.LabelFor(model => model.DataLancamento,"Data Lançamento:")
        </div>
        <div class="editor-field">
            @Html.Telerik().DatePickerFor(model => model.DataLancamento)<p>Informe a Data Lançamento</p>
            @Html.ValidationMessageFor(model => model.DataLancamento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CaixaAbertura,"Caixa Abertura:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CaixaAbertura, new { @class = "input-xlarge" })<p>Informe O Caixa de Abertura</p>
            @Html.ValidationMessageFor(model => model.CaixaAbertura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CaixaFechamento,"Caixa Fechamento:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CaixaFechamento, new { @class = "input-xlarge" })<p>Informe O Caixa de Fechamento</p>
            @Html.ValidationMessageFor(model => model.CaixaFechamento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Faturamento,"Faturamento:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Faturamento, new { @class = "input-xlarge" })<p>Informe Faturamento</p>
            @Html.ValidationMessageFor(model => model.Faturamento)
        </div>

        <p>
            <input class="btn btn-warning" type="submit" value="Salvar Alterações" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Página Inicial", "Index","Home")
</div>
