@model FormaPagamentoEstabelecimento

@{
    ViewBag.Title = "AlterarFormaPagamento";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<h2>AlterarFormaPagamento</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>FormaPagamento Estabelecimento</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.NomeTipoFormaPagamento,"Nome Forma Pagamento:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NomeTipoFormaPagamento, new { @class = "input-xlarge" })<p>Nome da forma </p>
            @Html.ValidationMessageFor(model => model.NomeTipoFormaPagamento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaxaFormaPagamento,"Taxa:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaxaFormaPagamento, new { @class = "input-xlarge" })<p>0,00</p>
            @Html.ValidationMessageFor(model => model.TaxaFormaPagamento)
        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.ContaCorrenteFormaPagamento,"Conta Corrente:")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ContaCorrenteFormaPagamento.Codigo, (IEnumerable<SelectListItem>)ViewBag.ContaCorrenteForma, "Selecione Conta Corrente")@Html.ActionLink("Cadastrar Conta Corrente", "CadastrarContaCorrente", "ContaCorrente")
            @Html.ValidationMessageFor(model => model.ContaCorrenteFormaPagamento)
        </div>
		<div class="editor-label">
			@Html.LabelFor(model => model.DespejoAutomatico,"Despejo Automático?:")
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.DespejoAutomatico, new { @class = "input-xlarge" })<p>
				Se Marcado: Sim</p>
			@Html.ValidationMessageFor(model => model.DespejoAutomatico)
		</div>
        

        <p>
           <input class="btn btn-warning" type="submit" value="Salvar Alterações" />
           
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Página Inicial", "Index","Home")
</div>
