@model ControleCaixaWeb.Models.OperacaoFinanceiraContaCorrente

@{
    ViewBag.Title = "AlterarDeposito";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<h2>Alterar Depósito</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Operação Financeira Conta Corrente</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data,"Data Lançamento:")
        </div>
        <div class="editor-field">
            @Html.Telerik().DatePickerFor(model => model.Data)
            @Html.ValidationMessageFor(model => model.Data)
        </div>
             <div class="editor-label">
            @Html.LabelFor(model => model.ContaLancamento,"Plano Pagamento:")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.FormaPagamento.Codigo, (IEnumerable<SelectListItem>)ViewBag.Forma, "Selecione Plano Pagamento")
            @Html.ValidationMessageFor(model => model.FormaPagamento)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Valor,"Valor:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Valor)
            @Html.ValidationMessageFor(model => model.Valor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao,"Descrição:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao, new { @class = "input-xlarge" })
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.ContaLancamento,"Conta Corrente:")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ContaLancamento.Codigo, (IEnumerable<SelectListItem>)ViewBag.ContaCorrente, "Selecione Conta Corrente")@Html.ActionLink("Cadastrar Conta Corrente", "CadastrarContaCorrente", "ContaCorrente")
            @Html.ValidationMessageFor(model => model.ContaLancamento)
        </div>

         <p>
            <input class="btn btn-warning" type="submit" value="Salvar Alterações" />
          
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Página Inicial", "Index","Home")
</div>