@model ControleCaixaWeb.Models.OperacaoFinanceiraContaCorrente

@{
    ViewBag.Title = "Operação Depósito";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<h2>Depósito</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Operação Financeira ContaCorrente: Depósito</legend>
                
        <div class="editor-label">
            @Html.LabelFor(model => model.Data,"Data Lançamento:")
        </div>
        <div class="editor-field">
            @Html.Telerik().DatePickerFor(model => model.Data)
            @Html.ValidationMessageFor(model => model.Data)
        </div>


            <div class="editor-label">
            @Html.LabelFor(model => model.ContaLancamento,"Plano Pagamento:")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.FormaPagamento.Codigo, (IEnumerable<SelectListItem>)ViewBag.Forma, "Selecione Plano Pagamento")
            @Html.ValidationMessageFor(model => model.FormaPagamento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Valor,"Valor:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Valor)
            @Html.ValidationMessageFor(model => model.Valor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao,"Descrição:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Descricao, new { @class = "input-xlarge" })
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ContaLancamento,"Conta de Lançamento:")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ContaLancamento.Codigo, (IEnumerable<SelectListItem>)ViewBag.ContaCorrente, "Selecione Conta Corrente")@Html.ActionLink("Cadastrar Conta Corrente", "CadastrarContaCorrente", "ContaCorrente")
            @Html.ValidationMessageFor(model => model.ContaLancamento)
        </div>

          <p>
             <input class ="btn btn-success" type="submit" value="Cadastar" />
            <input class="btn btn-warning" type="reset" value="Limpar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Página Inicial", "Index","Home")
</div>
