@model IEnumerable<ControleCaixaWeb.Models.OperacaoFinanceiraContaCorrente>

@{
    ViewBag.Title = "ListaCartoesCredito";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<h2>Visualização simulação depósito</h2>


<br />
<h3>Soma valor bruto:  @Model.Sum(model => model.Valor)</h3>
<br />
<h3>Soma valor líquido:  @Model.Sum(model => model.ValorLiquido)</h3>
<br />
<h3>Soma valor desconto:  @Model.Sum(model => model.Desconto)</h3>
<br />

<table class="table table-bordered">
    <tr>
      
        <th>
            Data Lançamento:
        </th>
        <th>
            Valor:
        </th>

         <th>
            Valor líquido:
        </th>

          <th>
            Taxa:
        </th>
          <th>
            Desconto:
        </th>
        <th>
            Data recebimento:
        </th>
        <th>
            Conta corrente:
        </th>    
        
         <th>
            Operações:
        </th>  
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorLiquido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taxa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desconto)
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.DataRecebimento)
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.ContaLancamento.Numero)
        </td>
        <td>
          
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Codigo })
           
        </td>
    </tr>
}

</table>
