@model IEnumerable<ControleCaixaWeb.Models.OperacaoFinanceiraContaCorrente>

@{
    ViewBag.Title = "ListaCartoesCredito";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<h2>ListaCartoesCredito</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Data
        </th>
        <th>
            Valor
        </th>
        <th>
            ValorLiquido
        </th>
        <th>
            Taxa
        </th>
        <th>
            Desconto
        </th>
        <th>
            Descricao
        </th>
        <th>
            UsuarioDataHoraInsercao
        </th>
        <th>
            DataHoraInsercao
        </th>
        <th>
            DataRecebimento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorLiquido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taxa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desconto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioDataHoraInsercao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraInsercao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRecebimento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
