@model OperacaoCaixa

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes Lançamento Caixa</h2>

<fieldset>
    <legend>Operação Caixa</legend>    

    <div class="display-label">Data Lançamento:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataLancamento)
    </div>

    <div class="display-label">Valor:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor)
    </div>

    <div class="display-label">Descrição:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">Usuário:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsuarioQueLancou.Nome)
    </div>

    <div class="display-label">Forma Pagto:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FormaPagamentoUtilizada.NomeTipoFormaPagamento)
    </div>

    <div class="display-label">Observação:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observacao)
    </div>
</fieldset>
<p>
    @if (@Model.Valor > 0)
    {
     @Html.ActionLink(" Alterar|", "AlterarOperacaoCaixa", new { id=Model.Codigo }) 
    @Html.ActionLink(" Excluir|","ExcluirOperacaoCaixa", new {id=Model.Codigo})
    @Html.ActionLink(" Página Inicial|", "Index","Home")
    }
   
    @Html.ActionLink("Página Inicial", "Index","Home")
</p>
