@model IEnumerable<ControleCaixaWeb.Models.OperacaoCaixa>

@{
    ViewBag.Title = "RelatoriosCartoesPorData";
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}

<p>
	@Html.ActionLink("Nova Entrada", "CadastrarOperacaoCaixa", "OperacaoCaixa")<br />
	@Html.ActionLink("Nova Saída", "SaidaOperacaoCaixa", "OperacaoCaixa")<br />
</p>
<h5>
	Lista dos lançamentos entre: @ViewBag.DataInicio e @ViewBag.DataFim
</h5>
<br/>
<h3>Soma dos Valores: @Model.Sum(model => model.Valor)</h3>
<br />
<h3> Soma Valor Líquido: @Model.Sum(model => model.Valor - (model.FormaPagamentoUtilizada.TaxaFormaPagamento * model.Valor)/100)</h3>
	
<table class="table table-bordered">
	<tr>
		<th>
			Codigo:
		</th>
		<th>
			Data Lançamento:
		</th>
		<th>
			Usuário:
		</th>
		<th>
			Descrição:
		</th>
		<th>
			Forma Usada:
		</th>
		<th>
			Taxa:
		</th>
		<th>
			Valor Bruto:
		</th>
		
		
        <th>
			Operações:
		</th>
	</tr>
	@foreach (var item in Model)
 {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Codigo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DataLancamento)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UsuarioQueLancou.Nome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Descricao)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FormaPagamentoUtilizada.NomeTipoFormaPagamento)
			</td>
			<td>			
			  @Html.DisplayFor(modelItem => item.FormaPagamentoUtilizada.TaxaFormaPagamento)				
			</td>
			
			<td>
				@Html.DisplayFor(modelItem => item.Valor)
			</td>
         
				
			<td>
				@Html.ActionLink("Ver Data", "OperacoesNestaData", new { id = item.DataLancamento.Date.ToString("yyyy-MM-dd") })|				
				@Html.ActionLink("Por Usuario", "VerUsuario", new { id = item.UsuarioQueLancou.Codigo, data = item.DataLancamento.Date.ToString("yyyy-MM-dd") })|
                @Html.ActionLink("Conferido?", "OPeracaoConferida", new { id = item.Codigo })
			</td>
		</tr>
 }
</table>
