@model ControleCaixaWeb.Models.ValidarData

@{
    ViewBag.Title = "LancamentosData";
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}

<h3>Por favor forneça um intervalo de datas</h3> </br>
<h4> Atenção!, @User.Identity.Name @ViewBag.DataErrada</h4>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Visualizar por datas</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataInicial)
        </div>
        <div class="editor-field">
            @Html.Telerik().DatePickerFor(model => model.DataInicial)
            @Html.ValidationMessageFor(model => model.DataInicial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataFinal)
        </div>
        <div class="editor-field">
            @Html.Telerik().DatePickerFor(model => model.DataFinal)
            @Html.ValidationMessageFor(model => model.DataFinal)
        </div>
		
        <div class="editor-label">
            Conta:
        </div>
        <div class="editor-field">
            @Html.DropDownList("Conta",(IEnumerable<SelectListItem>)@ViewBag.Conta,"Todas")
        </div>
	    
		 <br/>
		<p>
			<input class="btn btn-success" type="submit" value="Visualizar" />
			<input class="btn btn-warning" type="reset" value="Limpar" />
		</p>
    </fieldset>
}

<div>
    
</div>
