@model IEnumerable<ControleCaixaWeb.Models.OperacaoCaixa>

@{
    ViewBag.Title = "LancamentosHoje";
    Layout = "~/Areas/OperadorCaixa/Views/Shared/_Layout.cshtml";
}

<h2>Lançamentos de: @User.Identity.Name, Em: @DateTime.Today</h2>


<p>
    @Html.ActionLink("Nova Sangria", "SangriaOperacaoCaixa", "OperacaoCaixa")<br />
    @Html.ActionLink("Novo Lancamento", "LancamentoOperacaoCaixa", "OperacaoCaixa")
    <p>Soma dos Valores R$:@Model.Sum(model => model.Valor)

<table class="table table-bordered">
    <tr>
        
        <th>
            Data Lançamento:
        </th>
        <th>
            Valor:
        </th>
        <th>
            Descrição:
        </th>
          <th>
            Forma Pagamento:
        </th>
         <th>
            Usuário:
        </th>
        <th>
            Observação:
        </th>
         <th>
            Operações:
        </th>
      
    </tr>

@foreach (var item in Model)
{
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.DataLancamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.FormaPagamentoUtilizada.NomeTipoFormaPagamento)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.UsuarioQueLancou.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "AlterarLancamentoOperacaoCaixa", new { id = item.Codigo }) |
           @Html.ActionLink("Excluir", "ExcluirLancamentoCaixa", new { id = item.Codigo })
        </td>
    </tr>
}

</table>

