@model OperacaoCaixa
@{
    ViewBag.Title = "LancamentoOperacaoCaixa";
    Layout = "~/Areas/OperadorCaixa/Views/Shared/_Layout.cshtml";
}


<h2>Lançamento Das Vendas</h2>

<h3>@ViewBag.Mensagem</h3>
<br />
<h4>@ViewBag.DataErradaAmanha</h4>
<br />
<h4>@ViewBag.DataErradaOntem</h4>


@using (Html.BeginForm("LancamentoOperacaoCaixa", "OperacaoCaixa", FormMethod.Post))
{
		
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Operação: Entrada</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.DataLancamento, "Data Lançamento:")
        </div>
        <div class="editor-field">
            @Html.Telerik().DatePickerFor(model => model.DataLancamento).Name("dataLancamento")
            @Html.ValidationMessageFor(model => model.DataLancamento)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FormaPagamentoUtilizada, "Forma Pagamento:")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.FormaPagamentoUtilizada.Codigo, (IEnumerable<SelectListItem>)ViewBag.FormaPagamentoUtilizada, "Selecione Plano Pagamento")<p>
                Escolha Um Plano de Pagamento
            </p>
            @Html.ValidationMessageFor(model => model.FormaPagamentoUtilizada)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Valor, "Valor:")
            <div id="calculadora">
                @Html.Partial("Calculadora")
            </div>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Valor, new { id = "campoValorOperacaoCaixa1", name = "campoValorOperacaoCaixa1", @readonly = true })
            <div class="calculator">
            </div>
            <p>
                Informe O Valor
            </p>
            @Html.ValidationMessageFor(model => model.Valor)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Observacao, "Observação:")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Observacao)<p>
                Digite Uma Breve Descrição
            </p>
            @Html.ValidationMessageFor(model => model.Observacao)
        </div>
        <p>
            <input class="btn btn-success" type="submit" value="Cadastar" />
            <input class="btn btn-warning" type="reset" value="Limpar" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Página Inicial", "Index", "Home")
</div>
