@model IEnumerable<ControleCaixaWeb.Models.FechamentoCaixa>

@{
    ViewBag.Title = "ListaDosFechamentosCaixa";
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}

<h2>Lista Dos Fechamentos Caixa</h2>


<p>
    @Html.ActionLink("Fazer Novo Lançamento", "LancarFechamentoCaixa","FecharCaixa")
</p>
<table class="table table-bordered">
    <tr>
        
        <th>
            Data Lançamento:
        </th>
        <th>
            Usuário:
        </th>
        <th>
            Caixa Abertura:
        </th>
        <th>
            Caixa Fechamento:
        </th>
        <th>
            Faturamento:
        </th>
           <th>
            Operações:
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
     
        <td>
            @Html.DisplayFor(modelItem => item.DataLancamento)
        </td>
           <td>
            @Html.DisplayFor(modelItem => item.FaturamentoUsuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaixaAbertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaixaFechamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faturamento)
        </td>
        <td>
            @Html.ActionLink("Alterar", "AlterarFechamentoCaixa", new { id=item.Codigo }) |
            @Html.ActionLink("Detalhes", "Detahes", new {  id=item.Codigo }) |
            @Html.ActionLink("Excluir", "ExcluirFechamentoCaixa", new {  id=item.Codigo })
        </td>
    </tr>
}



</table>
