@model ControleCaixaWeb.Models.DespejoOPeracaoCaixa

@{
    ViewBag.Title = "AdicionarDespejoOperacaoCaixa";
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}

<h2>Fazer Despejo Operação Caixa</h2>

<br />
<h4>@ViewBag.DataErradaAmanha</h4>
<br />
<h4>@ViewBag.DataErradaOntem</h4>
<br />
<h3>@ViewBag.Mensagem</h3>
<br />
<h4>@ViewBag.MensagemSaldoInsuficiente</h4>
<br />
<h4>@ViewBag.MensagemSaldoInsuficienteLoja</h4>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Despejo OPeração Caixa</legend>
		<div class="editor-label">
			@Html.LabelFor(model => model.DataLancamento,"Data Lançamento:")
		</div>
		<div class="editor-field">
			@Html.Telerik().DatePickerFor(model => model.DataLancamento).Name("DataLancamento")
			@Html.ValidationMessageFor(model => model.DataLancamento)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.EstabelecimentoOperacao,"Estabelecimento:")
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.EstabelecimentoOperacao.Codigo,(IEnumerable<SelectListItem>)ViewBag.Estabelecimento, "Selecione Estabelecimento")@Html.ActionLink("Adicionar Estabelecimento","CadastrarEstabelecimento","Estabelecimento")
			@Html.ValidationMessageFor(model => model.EstabelecimentoOperacao)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.UsuarioQueLancou,"Usuário Origem:")
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.UsuarioQueLancou.Codigo, (IEnumerable<SelectListItem>)ViewBag.UsuarioQueLancou, "Selecione Usuario")@Html.ActionLink("Adicionar Usuario","CadastrarFuncionario","Funcionario")
			@Html.ValidationMessageFor(model => model.UsuarioQueLancou)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.FormaPagamentoUtilizada,"Plano Pagamento:")
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.FormaPagamentoUtilizada.Codigo,(IEnumerable<SelectListItem>)ViewBag.FormaPagamentoUtilizada, "Selecione Plano Pagamento")@Html.ActionLink("Adicionar Plano Pagamento","CadastrarFormaPagamento","FormaPagamento")
			@Html.ValidationMessageFor(model => model.FormaPagamentoUtilizada)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Valor,"Valor:")
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Valor, new { @class = "input-xlarge" })
			@Html.ValidationMessageFor(model => model.Valor)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Descricao,"Descrição da Operação:")
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Descricao, new { @class = "input-xlarge" })
			@Html.ValidationMessageFor(model => model.Descricao)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Observacao,"Observação:")
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.Observacao, new { @class = "input-xlarge" })
			@Html.ValidationMessageFor(model => model.Observacao)
		</div>
		<p>
			<input class="btn btn-success" type="submit" value="Cadastar" />
			<input class="btn btn-warning" type="reset" value="Limpar" />
		</p>
	</fieldset>
}
<div>
	@Html.ActionLink("Página Inicial","Index","Home")
</div>
