@model IEnumerable<ControleCaixaWeb.Models.Pagamento>
@{
	ViewBag.Title = "ListaPagamento";
	Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}
<p>
	@Html.ActionLink("Fazer Pagamento", "FazerPagamento")
</p>
<br />
<h3>
	Pagamentos do estabelecimento: @ViewBag.Loja
</h3>
<br />
<h3>
	Lista dos pagamentos entre: @ViewBag.DataInicio e @ViewBag.DataFim
</h3>
<h2>
	Soma dos Valores: R$ @Model.Sum(model => model.Valor)</h2>
<br />
<h3>SubTotal do Período: @Model.Sum(x => x.Valor) </h3>
<table class="table table-bordered">
	<tr>
		<th>
			Data Pagamento:
		</th>
        <th>
			Favorecido:
		</th>
		<th>
			Valor:
		</th>
		<th>
			Observação
		</th>
        <th>
            Forma Pagto:
        </th>
		
		
		<th>
			Operações:
		</th>
	</tr>
	@foreach (var item in Model)
 {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.DataPagamento)
			</td>
            <td>
				@Html.DisplayFor(modelItem => item.FavorecidoPagamento.NomeFavorecido)
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.Valor)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Observacao)
			</td>

            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento.NomeTipoFormaPagamento)
            </td>
			
			
			<td>
				@Html.ActionLink("Alterar", "AlterarPagamento", new { id = item.Codigo }) |
				@Html.ActionLink("Detalhes", "Detalhes", new { id = item.Codigo }) |
				@Html.ActionLink("Excluir", "ExcluirPagamento", new { id = item.Codigo })|
				@Html.ActionLink("Ver Data", "PagamentosNaData", new { id = item.DataPagamento.Date.ToString("yyyy-MM-dd") })|
				@Html.ActionLink("Ver Mes", "PagamentosNoMes", new { id = item.DataPagamento.Month })|
				@Html.ActionLink("Ver Favorecido", "PagamentoFavorecido", new { id = item.FavorecidoPagamento.Codigo })
			</td>
		</tr>
 }
</table>
