@model ControleCaixaWeb.Models.Favorecido

@{
    ViewBag.Title = "ExcluirFavorecido";
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}

<h2>Excluir Favorecido</h2>

<h3>@User.Identity.Name, você tem certeza que deseja excluir esse registro?</h3>
@using (Html.BeginForm()) {
<fieldset>
    <legend>Favorecido:</legend>

 
    <div class="display-field">
        @Html.HiddenFor(model => model.Codigo)
    </div>

    <div class="display-label">Nome Favorecido:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeFavorecido)
    </div>

    <div class="display-label">Observação:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observacao)
    </div>
</fieldset>

      <p>
        <input class = " btn btn-danger" type="submit" value="Excluir "  /> |
        @Html.ActionLink("Página Incial", "Index","Home")
    </p>
}