@model ContaCorrente

@{
    ViewBag.Title = "ExcluirContaCorrente";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<h2>Excluir Conta Corrente</h2>

<h3>Você tem certeza que deseja excluir esse registro?</h3>
@using (Html.BeginForm()) {
<fieldset>
    <legend>Conta Corrente</legend>

   
    <div class="display-field">
        @Html.HiddenFor(model => model.Codigo)
    </div>

    <div class="display-label">Banco:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Banco)
    </div>

    <div class="display-label">Agência:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Agencia)
    </div>

    <div class="display-label">Número:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numero)
    </div>
</fieldset>

    <p>
         <input class = " btn btn-danger" type="submit" value="Excluir "  /> |
        @Html.ActionLink("Página Incial", "Index","Home")
    </p>
}
