@model IList<Pagamento>
@{
    ViewBag.Title = "PagamentoFavorecido";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Fazer Novo Pagamento", "FazerPagamento","Pagamentos")
</p>
<table class="table table-bordered">
    <tr>
       
        <th>
            DataPagamento:
        </th>
         <th>
            Favorecido:
        </th>
        <th>
            Valor:
        </th>
        <th>
            Observacao:
        </th>
        <th>
            Usuário/Data/Computador:
        </th>
          <th>
            Operações:
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.DataPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavorecidoPagamento.NomeFavorecido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioQueAlterouEDataEComputador)
        </td>
        <td>
            @Html.ActionLink("Alterar", "AlterarPagamento", new { id = item.Codigo }) |
            @Html.ActionLink("Ver Detalhes", "Detalhes", new { id = item.Codigo }) |
            @Html.ActionLink("Excluir", "ExcluirPagamento", new { id = item.Codigo })|
             @Html.ActionLink("Por Favorecido", "PagamentoFavorecido", new { id = item.FavorecidoPagamento.Codigo })|
              @Html.ActionLink("Por Data", "PagamentoPorData", new { data = item.DataPagamento.Date.ToString("yyyy-MM-dd") })
        </td>
    </tr>
}

<h2>Soma Dos Pagamentos: @Model.Sum(model => model.Valor)</h2>
</table>
